body {
  background-image: url("img/Design\ sem\ nome\ \(3\).png");
  background-repeat: no-repeat;

}

.calculator {
  padding: 20px;
  width: 500px;
  background-color: #3e756b;
  margin: 4% auto;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  border-radius: 6px;
}

.input {
  background-color: #fcebebe1;
  border: none;
  border-radius: 5px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons {
  position: relative;
  text-align: center;
}

.operators div {
  display: inline-block;
  border: 1px solid #969595;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #969595;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
    border-radius: 6px;
}

.operators div:hover {
  background-color: #7a7a7a;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #d3d3d3;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
    border-radius: 6px;
}

.numbers div:hover {
  background-color: #a5a3a3;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #969595;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #969595;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

div.equal:hover {
  background-color: #606060;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

div.equal:active {
  font-weight: bold;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.sair {

  background-color: #d27171;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;

}

.sair:hover {
  background-color: #ac3f3f;
}

.sobre {
  background-color: #3d90ac;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;

}

.sobre:hover {
  background-color: #177392;
}

h1 {
  display: inline-block;
  border: 2px solid #65A990;
  background-color: #beccc7;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}